<div class="row">
	<div class="span12">
		<h1>All Users</h1>
	</div>
	<ul class="span12">
		<% @users.each do |user| %>
			<li><a href="/users/<%= user.username %>"><%= user.username %> <span><%= user.get_projects.count %></span></a></li>
		<% end %>
	</ul>
</div>