<div class="hero-unit">
	<div class="row">
		<h1 class="span12">Create, Tweak, Share.</h1>
		<p class="span9">Scriptacular is an awesome way to test code, help others learn, or just mess around with your three favorite front-end languages: HTML, CSS, and JavaScript.</p>
	</div>

	<div class="row">
		<p class="span12"><a href="/new" class="btn btn-primary btn-large pull-right">Make something right now &raquo;</a></p>
	</div>
</div>

<div class="row">
	<div class="span6">
		<h2>Most Edited? Newest Members?</h2>
	</div>
	<div class="span6">
		<h2>Recently Updated</h2>

		<ul>
			<% @recently_updated.each do |p| %>
				<li>
					<h3><a href="/<%= p.slug %>/latest"><%= p.title %></a></h3>
					<p><%= p.description %></p>
				</li>
			<% end %>
		</ul>
	</div>
</div>